@using proyecto_vivemas.ViewModels;
@model DocumentoVentaModelo
@{
    Layout = "~/Views/Shared/_LayoutReportes.cshtml";
    ViewBag.Title = "";
}

@section styles{
    <link rel="stylesheet" href="~/Css/Reportes/EmitirDocumentoElectronico.css" />
}

<div id="invoice" class="invoice">
    <div class="toolbar hidden-print">
        <div class="text-right">
            <button id="sendCorreo" class="btn btn-info"><i class="fa fa-print"></i> Enviar al correo</button>
            <button id="printInvoice" class="btn btn-info"><i class="fa fa-print"></i> Imprimir</button>
        </div>
        <hr>
    </div>
    <div class="invoice overflow-auto">
        <div style="min-width: 600px;">
            <header>
                <div class="row">
                    <div class="col-3">
                        <div class="text-center">
                            <img src="~/Img/Vivemas-logo-v2.svg" data-holder-rendered="true" class="img-fluid" />
                        </div>
                    </div>
                    <div class="col-6 company-details">
                        <h2 class="name" style="text-align:center">
                            <b>@Model.documento_empresa_nombre</b>
                        </h2>
                        <div style="text-align:center">
                            <b>Domicilio Fiscal:</b> @Model.documento_empresa_direccion
                        </div>
                        <div style="text-align:center">
                            <b>Telefono:</b> @Model.documento_empresa_numeroContacto
                        </div>
                        <div style="text-align:center">
                            <b>Correo:</b> @Model.documento_empresa_correo
                        </div>
                    </div>
                    <div class="col-3" style="border:solid 1px;">
                        <div class="font-xl text-center">
                            RUC: @Model.documento_empresa_documento
                        </div>
                        <div class="font-xl text-center font-weight-bold">
                            @Model.documento_descripcion
                        </div>
                        <div class="text-center font-lg">
                            @Model.documento_serie
                        </div>
                    </div>
                </div>
            </header>
            <main>
                <div class="row">
                    <div class=" col-12" style="border:solid 1px;">
                        <div class="row">
                            <div class="col-2">
                                <b>Cliente</b>
                            </div>
                            <div class="col-10">
                                : @Model.documento_cliente_nombre
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <b>Nro. Documento</b>
                            </div>
                            <div class="col-10">
                                : @Model.documento_cliente_nroDocumento
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <b>Correo Electrónico</b>
                            </div>
                            <div class="col-10">
                                : @Model.documento_cliente_correo
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <b>Direccion</b>
                            </div>
                            <div class="col-10">
                                : @Model.documento_cliente_direccion
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <b>Fecha de Emision</b>
                            </div>
                            <div class="col-5">
                                : @Model.documento_fechaEmision
                            </div>
                            <div class="col-2">
                                <b>Moneda</b>
                            </div>
                            <div class="col-3">
                                : @Model.documento_moneda_descripcion
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row mt-1">
                    <table border="1" style="width:100%">
                        <thead>
                            <tr>
                                <th style="padding:5px;">CANTIDAD</th>
                                <th class="text-center" style="padding:5px;">CODIGO</th>
                                <th class="text-center" style="padding:5px;">DESCRIPCION</th>
                                <th class="text-center" style="padding:5px;">U. M.</th>
                                <th class="text-center">VALOR UNITARIO</th>
                                <th class="text-center" style="width:100px">IMPORTE DE VENTA</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var itemDetalle in Model.detalleVenta)
                            {
                                <tr>
                                    <td class="text-right">@itemDetalle.documentoDetalle_cantidad</td>
                                    <td class="text-center">@itemDetalle.documentoDetalle_codigo</td>
                                    <td class="text-left">
                                        @itemDetalle.documentoDetalle_descripcion
                                    </td>
                                    <td class="text-center">@itemDetalle.documentoDetalle_unidad</td>
                                    <td class="text-right">@itemDetalle.documentoDetalle_valorUnitario</td>
                                    <td class="text-right">@itemDetalle.documentoDetalle_total</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <!--<div class="thanks">Sin impuestos</div>-->
                <div class="row">
                    <div class="col-6">
                        <div class="text-center">
                            <div class="row ml-1 mt-2 mb-2">
                                SON: @Model.documento_montoletras
                            </div>
                            <div class="thanks mt-1 mt-2 mb-2">
                                <canvas id="qr-code"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" style="padding:0;">
                        <table width="100%" border="1">
                            <tr>
                                <td class="text-right"><b>OP. GRAVADA:</b></td>
                                <td style="width:100px">
                                    <div class="ml-1 text-left" style="float:left">@Model.moneda_simbolo</div>
                                    <div class="text-right" style="float:right">0.00</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right"><b>OP. EXONERADA:</b></td>
                                <td style="width:100px">
                                    <div class="ml-1 text-left" style="float:left">@Model.moneda_simbolo</div>
                                    <div class="text-right" style="float:right">0.00</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right"><b>OP. INAFECTA:</b></td>
                                <td style="width:100px">
                                    <div class="ml-1 text-left" style="float:left">@Model.moneda_simbolo</div>
                                    <div class="text-right" style="float:right">@Model.documento_subtotal</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right"><b>ISC:</b></td>
                                <td style="width:100px">
                                    <div class="ml-1 text-left" style="float:left">@Model.moneda_simbolo</div>
                                    <div class="text-right" style="float:right">0.00</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right"><b>IGV:</b></td>
                                <td class="text-right">
                                    <div class="ml-1 text-left" style="float:left">@Model.moneda_simbolo</div>
                                    <div class="text-right" style="float:right">@Model.documento_igv</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right"><b>ICBPER:</b></td>
                                <td style="width:100px">
                                    <div class="ml-1 text-left" style="float:left">@Model.moneda_simbolo</div>
                                    <div class="text-right" style="float:right">0.00</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right"><b>OTROS CARGOS:</b></td>
                                <td style="width:100px">
                                    <div class="ml-1 text-left" style="float:left">@Model.moneda_simbolo</div>
                                    <div class="text-right" style="float:right">0.00</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right"><b>OTROS TRIBUTOS:</b></td>
                                <td style="width:100px">
                                    <div class="ml-1 text-left" style="float:left">@Model.moneda_simbolo</div>
                                    <div class="text-right" style="float:right">0.00</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="text-right"><b>TOTAL:</b></td>
                                <td class="text-right">
                                    <div class="ml-1 text-left" style="float:left">@Model.moneda_simbolo</div>
                                    <div class="text-right" style="float:right">@Model.documento_total</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-12 mt-2">
                        <div style="border-bottom:solid 2px"><b>Informacion Adicional</b></div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    Fecha Deposito:
                                </div>
                                <div class="col-6">
                                    @Model.transaccion_fechadeposito
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    Total:
                                </div>
                                <div class="col-6">
                                    @Model.documento_total
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    Nro de Operacion:
                                </div>
                                <div class="col-6">
                                    @Model.transaccion_nrooperacion
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    Banco:
                                </div>
                                <div class="col-6">
                                    @Model.transaccion_banco
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    Cuenta:
                                </div>
                                <div class="col-6">
                                    @Model.transaccion_cuenta
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="notices mt-2">
                        <div>Aviso:</div>
                        <div class="notice">
                            Este documento es una representacion impresa de un documento emitido en la sunat desde el sistema del contribuyente.
                            El emisor electronico puede verificarla utilizando su clave SOL, el adquiriente o Usuario puede consultar su validez en SUNAT virtual: www.sunat.gob.pe, en Opciones sin clave SOL/Consulta de validez CPE.
                        </div>
                    </div>
                </div>

            </main>
            <footer>
                @Model.documento_digestValue
            </footer>
        </div>
        <!--DO NOT DELETE THIS div. IT is responsible for showing footer always at the bottom-->
        <div></div>
    </div>

</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrious/4.0.2/qrious.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.0.272/jspdf.debug.js"></script>
    <script> var qrText = "@Model.documento_qrcodeValue" </script>
    <script src="~/Scripts/Reportes/emitirDocumentoElectronico.js"></script>
}